

/*  gallery */

.card {
  transition: background-size 800ms;
}

.card:hover{
  background-size: 130%;
}

.card-details{
  transition: transform 800ms;
}

.card:hover .card-details{
  transform: translateY(-20px);
  opacity: 1;
}
